<div id="<%= dom_id item %>">
  <p>
    <strong>Artist:</strong>
    <%= item.artist %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

</div>
