<p style="color: green"><%= notice %></p>
<div class="container">
  <%= link_to "Back to Items", root_path %>
  <br>
  <h1>Warehouses</h1>

  <div id="warehouses">
    <% @warehouses.each do |warehouse| %>
      <%= render warehouse %>
      <p>
      </p><br>
    <% end %>
  </div>
<div class="container">
  <%= link_to "Add Warehouse", new_warehouse_path %> | 
</div>
</div>
