<div class="container">
  <h1>New Warehouse</h1>
<%= turbo_frame_tag "second_frame" do %>
  <%= render "form", warehouse: @warehouse %>
<% end %>

  <br>
  <div>
    <%= link_to "Back to warehouses", warehouses_path %>
  </div>
</div>
